.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
Desktop.ini

.*.swp
.*.swo
.svn

*.lo
*.la
*.al
*.lib
*.a
*.la
*.so
*.dylib
*.dll
*.dll.a
*.out
*.app
*.i
*.ii
*.inc
*.s
*.pch

build/
Build/
[Bb]in/
[Cc]make[Bb]uild*/
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/
Testing/
CTestTestfile.cmake

*.vcxproj*
*.vcproj*
*.ncb
*.sdf
*.vcxproj.user
*.vcxproj.filters
*.user
*.ipch
*.opensdf
*.suo
*.sln
*.pdb

*.xcworkspace
*.xcuserdata/
*.xcuserstate
*.xcodeproj/*

*.cbp
*.depend
*.layout

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
.venv*/ 
env_*/ 
ENV/
.ENV/

build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/

pip-log.txt
pip-delete-this-directory.txt

.python-version

.ipynb_checkpoints

.idea/
*.iml
*.ipr
*.iws
out/

.vscode/
.vscode-test/


*.log
*.tmp
*.temp
*.cache
*.pid
*.seed
*.pid.lock
*.gz
*.zip
*.tar
*.rar
*.7z

coverage/
*.lcov
*.coverage
.coverage.*

tags
TAGS

*~
*.bak

grading/
graphics/